* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
}
.header {
  background-color: #25b79f;
  height: 100vh;
}
.container {
  width: 50%;
  margin: auto;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}
/* Navbar */
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 500;
}
.menu {
  display: flex;
  padding: 10px;
  position: absolute;
  right: 30px;
  margin-top: 10px;
  width: auto;
}
.menu li {
  list-style: none;
  padding: 5px;
  font-size: 15px;
}
.menu a {
  text-decoration: none;
  color: #f0f0e6;
  padding: 5px;
}
.menu a:hover {
  border-bottom: 2px solid #f0f0e6;
}
/* home */
.home .nama {
  position: absolute;
  color: #07374a;
  top: 47%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  text-align: center;
}
.home .nama h1 {
  font-size: 2.2rem;
  margin: 5px;
}
.home .nama p {
  font-size: 0.95rem;
  font-family: "roboto slab";
  color: #f0f0e6;
}
/* about */
.about {
  height: 100vh;
  width: 100%;
  background-color: #07374a;
  position: relative;
}
.penjelasan {
  padding: 50px;
}
.penjelasan h1 {
  color: #25b79f;
  font-size: 2rem;
  font-weight: 600;
  text-align: center;
}
.penjelasan img {
  width: 150px;
  height: 200px;
  object-fit: cover;
  border-radius: 50%;
}
.penjelasan p {
  color: #f0f0e6;
  text-align: center;
  font-size: 0.95rem;
  font-family: "roboto slab";
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
}
.contact {
  background-color: #25b79f;
}
.contact-content {
  width: 50%;
  text-align: center;
  margin: auto;
  padding: 10px;
}
.contact-content h2 {
  padding: 4px;
  color: #07374a;
  font-weight: 600;
}
.contact-content p {
  color: #07374a;
  font-family: "roboto slab";
}
.contact-content a {
  text-decoration: none;
  color: #07374a;
  font-family: "roboto slab";
  transition: 0.3s ease-in-out;
}
.contact-content a:hover {
  color: #f0f0e6;
}
